# Database
DATABASE_URL="postgresql://username:password@localhost:5432/digigo_care"

# Next.js
NEXTAUTH_URL="http://localhost:8000"
NEXTAUTH_SECRET="your-secret-key-here"

# API
NEXT_PUBLIC_API_URL="https://a2b0-60-243-67-9.ngrok-free.app/api"